{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
<section style="background-color: #CFEEFC;">
    <div class="container py-5">
  
      <div class="row">
        <div class="col-md-12">
  
          <div class="card" id="chat3" style="border-radius: 15px;">
            <div class="card-body">
  
              <div class="row">
                <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0" style="overflow: auto ;max-height: 700px; width: 100%;">
  
                  <div class="p-3">
  
                    <div class="input-group rounded mb-3">
                      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                        aria-describedby="search-addon" />
                      <span class="input-group-text border-0" id="search-addon">
                        <i class="fa fa-search"></i>
                      </span>
                    </div>

                    
  
                    <div style="position: relative; height: 400px">
                      <ul class="list-unstyled mb-0">
                        <li class="p-2 border-bottom">
                          <a href="#!" class="d-flex justify-content-between">
                            <div class="d-flex flex-row">
                              <div>
                                <img
                                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                  alt="avatar" class="d-flex align-self-center me-3" width="60">
                                <span class="badge bg-success badge-dot"></span>
                              </div>
                              <div class="pt-1">
                                <p class="fw-bold mb-0">Algorithme</p>
                                <p class="small text-muted">Hello, Are you there?</p>
                              </div>
                            </div>
                            <div class="pt-1">
                              <p class="small text-muted mb-1">Just now</p>
                              <span class="badge bg-danger rounded-pill float-end">3</span>
                            </div>
                          </a>
                        </li>
                        <li class="p-2 border-bottom">
                          <a href="#!" class="d-flex justify-content-between">
                            <div class="d-flex flex-row">
                              <div>
                                <img
                                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                                  alt="avatar" class="d-flex align-self-center me-3" width="60">
                                <span class="badge bg-warning badge-dot"></span>
                              </div>
                              <div class="pt-1">
                                <p class="fw-bold mb-0">Logicels</p>
                                <p class="small text-muted">Lorem ipsum dolor sit.</p>
                              </div>
                            </div>
                            <div class="pt-1">
                              <p class="small text-muted mb-1">5 mins ago</p>
                              <span class="badge bg-danger rounded-pill float-end">2</span>
                            </div>
                          </a>
                        </li>
                        <li class="p-2 border-bottom">
                          <a href="#!" class="d-flex justify-content-between">
                            <div class="d-flex flex-row">
                              <div>
                                <img
                                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                  alt="avatar" class="d-flex align-self-center me-3" width="60">
                                <span class="badge bg-success badge-dot"></span>
                              </div>
                              <div class="pt-1">
                                <p class="fw-bold mb-0">Réseaux et internet</p>
                                <p class="small text-muted">Lorem ipsum dolor sit.</p>
                              </div>
                            </div>
                            <div class="pt-1">
                              <p class="small text-muted mb-1">Yesterday</p>
                            </div>
                          </a>
                        </li>
                        
                        
                        
                      </ul>
                    </div>
  
                  </div>
  
                </div>
  
                <div class="col-md-6 col-lg-7 col-xl-8">
  
                  <div class="pt-3 pe-3"
                    style="position: relative; height: 500px; overflow: auto ;max-height: 950px; width: 100%;">
  
                    <div class="d-flex flex-row justify-content-start">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                        alt="avatar 1" style="width: 45px; height: 100%;">
                      <div>
                        <div  id="MessageContent" class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;"></div>
                        <p class="small ms-3 mb-3 rounded-3 text-muted float-end">12:00 PM | Aug 13</p>
                      </div>
                    </div>
  
                   
  
                  </div>
  

                  <textarea class="form-control" style="width: 100%" rows="6"
                                  placeholder="Enter your message here" id="Message"></textarea>
                        <button class="cus-btn-normal" id="Reply">Send</button>
  
                </div>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </section>

  <script>
    toastr.options.positionClass = 'toast-bottom-left';

    var msgText = $('#Message');

    $('#Reply').click(function () {

        var msg = msgText.val()
        if (msg == '') {
            toastr.error("Message can not be empty")
            return;
        }

        var data = {
          "msg": msg
        }
        $.ajax({
            url: '/getBot',
            headers:{'X-CSRFToken':'{{ csrf_token }}'},
            data: JSON.stringify(data),
            method: 'POST',
            success: function (res) {
                drawMessage(res)
            },
            error: function (err) {
                if (err.desc == null)
                    err.desc = "Something went wrong"
                toastr.error(err.desc)
            }
        })

    })


    var msgContent = $('#MessageContent');

    function drawMessage(res) {
        msgContent.append("<div class='col-md-6 owner-message'><p>"+res.ques+"</p><p class='time'>"+res.time+"</p></div>");
        msgContent.append("<div class='col-md-6 guest-message'><p>"+res.res+"</p><p class='time'>"+res.time+"</p></div>")
        msgText.val('')
    }

</script>
{% endblock %}